
#mapid {
  height: 500px;
  padding: 0;
  margin: 0;
}

#treetest {
  /* for responsiveness with plotly, strict parameters are needed, and for overlfow*/
  overflow-y: auto;
  /* set to auto, chart should fit in div, if not scroll bar display*/
  overflow-x: hidden;
  display: inline-block;
  height: 500px;
}

#tree1 {
  /* for responsiveness with plotly, strict parameters are needed, and for overlfow*/
  overflow-y: auto;
  /* set to auto, chart should fit in div, if not scroll bar display*/
  overflow-x: hidden;
  display: inline-block;
  height: 480px;
}

#tree2 {
  /* for responsiveness with plotly, strict parameters are needed, and for overlfow*/
  overflow-y: auto;
  /* set to auto, chart should fit in div, if not scroll bar display*/
  overflow-x: hidden;
  display: inline-block;
  height: 480px;
}

#heat1 {
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  height: 500px;
}

#line1 {
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
  height: 370px;
}






body {
  background-color: #2980B9;
}



nav {
  
  border-bottom: 1px solid #A4CBE5;
}


a {
  font-size: 18px;
}